.results-page {
  text-align: center;
}

.results-table {
  width: 100%;
  border-collapse: collapse;
  padding-left: 20vw;
}

.results-table th,
.results-table td {
  border: 1px solid #ddd;
  text-align: center;
}

.results-table th {
  background-color: #cdc9c5;
  color: black;
}

.results-table img {
  width: 10vw;
  height: auto;
  display: block;
  margin: 0 auto;
}

.results-table span {
  display: block;
  margin-top: 5px;
}

.dropdown-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px; /* Adjust the gap as needed */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color: #e4e4e4;
  color: black;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e4e4e4;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content div:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-button {
  background-color: #ddd;
}
