.results-page {
  text-align: center;
}

.results-table {
  width: 100%;
  border-collapse: collapse;
  padding-left: 20vw;
}

.results-table th,
.results-table td {
  border: 1px solid #ddd;
  text-align: center;
}

.results-table th {
  background-color: #cdc9c5;
  color: black;
}

.results-table img {
  width: 10vw;
  height: auto;
  display: block;
  margin: 0 auto;
}

.results-table span {
  display: block;
  margin-top: 5px;
}
